<MudAppBar Elevation="1" Class="d-flex">
    <div class="full-width"></div>
    <div class="full-width d-flex justify-center">
        <MudNavLink Href="/" Match="NavLinkMatch.All" Class="d-flex flex-column width-auto">
            <MudText Typo="Typo.h6" Color="Color.Success" Class="text-center">Recruitment App</MudText>
            <MudText Typo="Typo.body2" Class="mud-text-secondary" Color="Color.Secondary">Build good things together!</MudText>
        </MudNavLink>
    </div>
    <div class="full-width d-flex justify-end">
        <LoginDisplay/>
    </div>
</MudAppBar>

<MudDrawer @onmouseenter="OpenDrawer" @onmouseleave="CloseDrawer" Anchor="Anchor.Start" ClipMode="DrawerClipMode.Always" @bind-Open="@_open" Elevation="1" Variant="@DrawerVariant.Mini">
    <MudNavMenu Color="Color.Primary" Margin="Margin.Dense" Rounded="true" Class="mud-width-full" Bordered="true">
        <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="fas fa-house" IconColor="Color.Success">Home</MudNavLink>
        <MudNavLink Href="/fields" Icon="fas fa-server" IconColor="Color.Primary">Fields</MudNavLink>
        <MudNavLink Href="/respond" Icon="fas fa-server" IconColor="Color.Primary">Form</MudNavLink>
        <MudNavLink Href="/examples" Icon="fas fa-server" IconColor="Color.Primary">Examples</MudNavLink>

        <MudNavGroup Title="Settings" Icon="fas fa-cogs" IconColor="Color.Primary">
            <MudNavLink Href="/users" Icon="fas fa-users" IconColor="Color.Primary">Users</MudNavLink>
            <MudNavLink Href="/security" Icon="fas fa-user-shield" IconColor="Color.Info">Security</MudNavLink>
        </MudNavGroup>
    </MudNavMenu>
</MudDrawer>

@code {
    private bool _open = false;

    private void OpenDrawer()
    {
        _open = true;
    }

    private void CloseDrawer()
    {
        _open = false;
    }

}
