@using System.Security.Claims
@using GdscRecruitment.Utilities
<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/LogOut">Log out</a>

        <a href="Identity/Account/Manage/Index">Hello, @context.User.Identity?.Name!</a>
        @{
            var avatar = context.User.FindFirstValue(CustomClaimTypes.Picture);
            if (!string.IsNullOrEmpty(avatar))
            {
                <div class="picture-wrapper">
                    <img class="picture" src="@avatar" alt="" referrerpolicy="no-referrer"/>
                </div>
            }
        }
    </Authorized>

    <NotAuthorized>
        <a href="Identity/Account/ExternalLogin?returnUrl=%2Fcounter">Log in</a>
    </NotAuthorized>
</AuthorizeView>
