@inherits BaseComponent

<AuthorizeView>
    <Authorized>
        <MudButton Color="Color.Error" Variant="Variant.Outlined" Class="mr-3" StartIcon="fa-sharp fa-solid fa-person-through-window" Href="Identity/Account/LogOut">Log out</MudButton>

        <MudButton Color="Color.Primary" Variant="Variant.Outlined" Href="Identity/Account/Manage/Index">
            Hello, @(User?.ToString() ?? "Stranger")!

            @if (User?.Avatar is not null)
            {
                <MudImage Width="40" Src="@User.Avatar" Elevation="25" Class="rounded-lg pl-3" Alt="@User.ToString()" referrerpolicy="no-referrer"/>
            }
        </MudButton>
    </Authorized>

    <NotAuthorized>
        <a href="Identity/Account/ExternalLogin">Log in</a>
    </NotAuthorized>
</AuthorizeView>
