@using System.Security.Claims
@inject IHttpContextAccessor HttpContextAccessor

@if (_user?.Identity?.Name is not null)
{
    <img src="@_avatar" alt="@_givenName"/>

    <b>You are logged in as: @_givenName @_surname</b>

    <a class="ml-md-auto btn btn-primary"
       href="/Identity/Logout"
       target="_top">
        Logout
    </a>
}
else
{
    <a class="ml-md-auto btn btn-primary"
       href="/Identity/Login"
       target="_top">
        Login
    </a>
}

@code {
    private ClaimsPrincipal? _user;
    private string? _givenName;
    private string? _surname;
    private string? _avatar;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _user = HttpContextAccessor.HttpContext?.User;
        if (_user is null) return;

        var givenName = _user.FindFirst(ClaimTypes.GivenName);
        _givenName = givenName?.Value ?? _user.Identity?.Name;

        var surname = _user.FindFirst(ClaimTypes.Surname);
        _surname = surname?.Value ?? "";

        var avatar = _user.FindFirst("urn:google:image");
        _avatar = avatar?.Value ?? "";
    }

}
