@inherits BaseComponent

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/LogOut">Log out</a>

        <a href="Identity/Account/Manage/Index">Hello, @(User?.ToString() ?? "Stranger")!</a>

        @if (User?.Avatar is not null)
        {
            <div class="picture-wrapper">
                <img class="picture" src="@User.Avatar" alt="@User.ToString()" referrerpolicy="no-referrer"/>
            </div>
        }
    </Authorized>

    <NotAuthorized>
        <a href="Identity/Account/ExternalLogin">Log in</a>
    </NotAuthorized>
</AuthorizeView>
